<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('partial/nav') %> 

    <h1>HI THEREE!!! IT'S ME <%= title %></h1>
    <p>This is the orders page.</p>
</body>
</html>
